<?xml version = '1.0'?>
<robot xmlns:xacro ="http://www.ros.org/wiki/xacro">
    <xacro:property name ="l_0" value = "Base"/>    
    <xacro:property name ="l_1" value = "shoulder"/>
    <xacro:property name ="l_2" value = "elbow"/>
    <xacro:property name ="l_3" value = "wrist_1"/>
    <xacro:property name ="l_4" value = "wrist_2"/>
    <xacro:property name ="l_5" value = "wrist_3"/>
    <xacro:property name ="l_6" value = "tool_flange"/>
</robot>